
# PlanAhead Generated physical constraints 

NET "CLK" LOC = P123;
NET "KEY_IN[0]" LOC = P126;
NET "KEY_IN[1]" LOC = P131;
NET "KEY_IN[2]" LOC = P133;
NET "KEY_IN[3]" LOC = P137;
NET "KEY_OUT[0]" LOC = P124;
NET "KEY_OUT[1]" LOC = P127;
NET "KEY_OUT[2]" LOC = P132;
NET "KEY_OUT[3]" LOC = P134;
